<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>Todolist</title>
        <link rel="stylesheet" href="css/index.css">
    </head>
<body>
    <h1>Todolist</h1>
    <p>
        <input type="text" id="txt_task" autofocus/>
        <input type="button" id="btn_add_task" value="add"/>
    </p>

    <section id="todolist"></section>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/client.js"></script>
</body>
</html>